* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 32px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo h1 {
    padding-left: 16px;
}
.logo img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    padding: 0 16px;
    list-style-type:none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
main {
    margin: 32px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1#homepage {
    margin-bottom: 32px;
}
.login-form {
    margin: auto;
}
.login-form button {
    border: 2px solid gray;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: lightgray;
}
.login-form a, .signup-form a {
    color: black;
}
.login-credentials {
    margin: 12px 0;
}
.login-credentials input {
    margin-top: 4px;
    padding: 4px;
    width: 256px;
}
button.logout {
    border: none;
    background-color: white;
    font-size: 16px;
}
.signup-form {
    margin: auto;
}
.signup-form button {
    border: 2px solid gray;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.signup-form #cancel {
    margin-left: 8px;
}
.signup-form button:hover {
    background-color: lightgray;
}
.signup-credentials {
    margin: 12px 0;
}
.signup-credentials input {
    margin-top: 4px;
    padding: 4px;
    width: 256px;
}
.signup-credentials select {
    margin-top: 4px;
    padding: 4px;
    width: 256px;
}
.signup-credentials img#profile-preview {
    width: 150px;
    height: 150px;
    margin-top: 12px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
.dashboard-main {
    display: grid;
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 1fr; 
    min-height: 100vh; 
}
.dashboard-sidebar {
    grid-area: 1 / 1 / 2 / 2; 
    overflow-y: auto; 
    padding: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}
.dashboard-content {
    grid-area: 1 / 2 / 2 / 3; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: #fff;
    overflow-y: auto;
}
.account-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-content input#changePwdField {
    margin-top: 4px;
    padding: 4px;
    width: 256px;
}
.dashboard-content button#postAnnouncement,
.dashboard-content button#updateBtn,
.dashboard-content button#changePwdBtn {
    border: 2px solid gray;
    background-color: white;
    color: black;
    margin: 0 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.dashboard-content button#postAnnouncement:hover,
.dashboard-content button#updateBtn:hover,
.dashboard-content button#changePwdBtn:hover {
    background-color: lightgray;
}
.dashboard-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dashboard-sidebar ul li {
    margin: 8px 0;
    border: 2px solid gray;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.dashboard-sidebar ul li:hover {
    background-color: lightgray;
}
.dashboard-sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dashboard-sidebar ul li.active {
    background-color: lightgray;
}
.dashboard-content table {
    margin: 24px 0;
}
.dashboard-content table tr td {
    padding: 4px 8px;
}
.dashboard-content img#employee-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
}
/* ANNOUNCEMENTS */
img#announcementThumbnail {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto;
}
.announcement-card p#badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin: 8px 0;
}
.announcement-card p#announcementBody {
    margin-top: 16px;
}
.announcement-menu {
    position: relative;
    margin-right: 16px;
}
.announcement-menu button {
    background: none;
    border: none;
    cursor: pointer;
}
.kebab-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}
.kebab-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}
.kebab-menu button:hover {
    background-color: lightgray;
}
.announcement-card {
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
    padding: 16px;
}
.announcement-card-wrapper {
    display: flex;
    justify-content: space-between;
}
.announcement-attachment {
    margin: 8px 0;
}
div#deleteAnnouncement {
    width: 100%;   
}
.delete-announcement-actions {
    margin: 8px 0 16px;
}
.delete-announcement-actions button {
    border: 2px solid gray;
    background-color: white;
    color: black;
    margin: 0 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.delete-announcement-actions button:hover {
    background-color: lightgray;
}
/* TABLES */
div#employee-table-container {
    max-height: 750px;
    overflow-x: auto;
    overflow-y: auto;
}
.dashboard-content table#employee-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
}
.dashboard-content table#employee-table tr td,
.dashboard-content table#employee-table tr th {
    text-align: left;
    padding: 4px 8px;
}
.dashboard-content table#employee-table tr:nth-child(odd) td {
    text-align: left;
    background-color: rgb(245, 245, 245);
}
.dashboard-content table#employee-table tr th {
    text-align: center;
    background-color: lightgray;
}
.custom-cancel-button {
    border: 2px solid gray;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-cancel-button:hover {
    background-color: lightgray;
}
.registration-view, 
.profile-edit-requests-view {
    display: none;
}
.registration-view.active, 
.profile-edit-requests-view.active {
    display: block;
}
.registration-main button, 
.profile-edit-main button {
    border: 2px solid gray;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.registration-main button:hover, 
.profile-edit-main button:hover {
    background-color: lightgray;
}
.registration-main button:disabled, 
.profile-edit-main button:disabled {
    opacity: 0.5;
}
.registration-main button:disabled:hover, 
.profile-edit-main button:disabled:hover {
    background-color: white;
}
.registration-actions-multiple, 
.profile-edit-actions-multiple {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.registration-actions-multiple button, 
.profile-edit-actions-multiple button {
    margin: 0 8px;
}
.dashboard-content table#registration-requests, 
.dashboard-content table#profile-edit-requests {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
}
.dashboard-content table#registration-requests tr td,
.dashboard-content table#profile-edit-requests tr td,
.dashboard-content table#registration-requests tr th, 
.dashboard-content table#profile-edit-requests tr th {
    text-align: left;
    padding: 4px 8px;
}
.action-btns button {
    margin: 0 8px;
}
.dashboard-content table#registration-requests tr:nth-child(odd) td, 
.dashboard-content table#profile-edit-requests tr:nth-child(odd) td {
    text-align: left;
    background-color: rgb(245, 245, 245);
}
.dashboard-content table#registration-requests tr th, 
.dashboard-content table#profile-edit-requests tr th {
    text-align: center;
    background-color: lightgray;
}
.dashboard-content button#deleteEmp {
    border: 2px solid gray;
    background-color: white;
    color: black;
    margin: 0 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.dashboard-content button#deleteEmp:hover {
    background-color: lightgray;
}
footer p {
    text-align: center;
    padding: 8px;
}